body {
	color: silver;
	background: black;
}
a {
	color: white;
}
a:visited {
	color: gray;
}
a:active {
	color: red;
}
a:hover {
}
table, th, td {
	border-style: none;
}
td.xthumb {
	text-align: center;
	text-align: middle;
}
footer {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	font-size: x-small;
}
/* the desc-line on the top of the page */
.fdesc {
	color: gray;
	font-weight: bold;
	font-family: sans-serif;
}
/* a thumbnail img */
img.xthumb {
	border-width: 3px;
	border-style: ridge;
}
img.xthumb:hover {
	border-width: 3px;
	border-style: groove;
}
/* text link to a directory */
.xdir {
	color: silver;
	border: 1px solid black;
	font-family: monospace;
}
.xdir:hover {
	font-family: monospace;
	border: 1px solid gray;
}
/* text link to a file */
.xfile {
	color: silver;
	border: 1px solid black;
	font-family: monospace;
}
.xfile:hover {
	font-family: monospace;
	border: 1px solid gray;
}
